* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-section {
  position: relative;
  width: 100%;
  background-image: url("./assets/hero-bg.png");
  min-height: 130vh;
}

.header-content {
  max-width: 1300px;
  padding: 0 4rem;
  position: relative;
  z-index: 1;
}
.shape {
  position: absolute;
  z-index: 0;
}
.top-left {
  top: 0;
  left: 0;
  width: 350px;
}
.bottom-right {
  bottom: 0;
  right: 0;
  width: 350px;
}
.bottom-left {
  bottom: 0;
  left: 0;
  width: 250px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.nav-links ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}
.nav-links ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
}
.nav-links ul li a:hover {
  color: #fd0053;
  transition: color 0.3s ease;
}
.nav-btn {
  background-color: #fd0053;
  padding: 0.8rem 2.3rem;
  border-radius: 50px;
  transition: background-color 0.9s ease;
}
.nav-btn:hover {
  background-color: black;
}
.nav-btn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.hero {
  display: flex;
  margin-top: 8rem;
}
.hero-left {
  width: 50%;
}

.hero-left h1 {
  font-size: 3.7rem;
}
.hero-left p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  color: #555;
}

/* ABOUT SECTION */
.about-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-content {
  max-width: 1300px;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-left {
  position: relative;
  width: 50%;
}
.about-left .shape-about {
  position: absolute;
  top: 35%;
  right: 5%;
}

.about-left .shape-span {
  position: absolute;
  top: 43%;
  right: 10%;
  color: white;
}
.about-right {
  width: 50%;
}
.about-right h4 {
  color: #fd0053;
  margin-bottom: 0.5rem;
}
.about-right h2 {
  font-size: 2.1rem;
  margin-bottom: 0.5rem;
}
.about-right .p1 {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 0.5rem;
}
.about-right .p2 {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 3rem;
}

/* SERVICE SECTION */
.service-section {
  position: relative;
  width: 100%;
  background-color: #fd0053;
  min-height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.service-shape {
  position: absolute;
  z-index: 0;
  pointer-events: none;
}
.top-right {
  top: 0;
  right: 0;
}
.bottom-left {
  bottom: 0;
  left: 0;
  width: 230px;
}
.service-content {
  max-width: 1300px;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
}
.service-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.service-left h4 {
  color: white;
  font-size: 1rem;
}
.service-left h1 {
  color: white;
  font-size: 2.8rem;
}
.service-right {
  display: flex;
  gap: 1rem;
}
.service-right span {
  color: white;
  border: 2px solid white;
  padding: 0.3rem 0.5rem;
  border-radius: 9999px;
  cursor: pointer;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.service-right span:hover {
  background-color: white;
  color: #fd0053;
}

.grid-service-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
.single-service-box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 6px;
  padding: 2rem;
  width: 350px;
  height: 300px;
  transition: background-color 2s, color 3s;
  padding-bottom: 10rem;
}
.single-service-box:hover {
  background-color: #1e1e1e;
  color: #f0f4f8;
}

.single-service-box:hover h4,
.single-service-box:hover p,
.single-service-box:hover a {
  color: #f0f4f8;
}

.single-service-box img {
  width: 40px;
}
.single-service-box h4 {
  font-size: 1.3rem;
  color: #fd0053;
  text-decoration: underline;
}
.single-service-box p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 1rem;
}

.single-service-box a {
  text-decoration: none;
  color: #fd0053;
  font-size: 1.1rem;
  font-weight: 600;
}

/* COMPANY STATISTIC AREA */
.stat-area {
  margin-top: -6rem;
  z-index: 2;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.stat-continer {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  z-index: 3;
}
.stat-flex {
  display: flex;
  gap: 7rem;
}
.stat-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 0.5rem;
}
.stat-content img {
  width: 24px;
}
.stat-content h4 {
  font-size: 2rem;
}
.stat-content h6 {
  font-size: 1.1rem;
  font-weight: 500;
}
/* PORTFOLIO SECTION */
#sec6 {
  /* border: 2px solid black; */
  height: 1000px;
  width: 99%;
  position: absolute;
  top: 331%;
  background-color: #EFF1F4;
}

#sec6 h3 {
  /* border: 2px solid black; */
  height: 50px;
  width: 150px;
  position: absolute;
  top: 15%;
  left: 45%;
  color: #2B2024;
}

#sec6 h1 {
  /* border: 2px solid red; */
  height: 60px;
  width: 600px;
  position: absolute;
  top: 15%;
  left: 30%;
  font-size: 50px;
  color: #2B2024;
}

#sec6 ol {
  /* border: 2px solid black; */
  display: flex;
  gap: 10%;
}

#sec6 #box12 li {
  list-style: none;
  font-size: 20px;
  cursor: pointer;
}

#sec6 #box12 {
  /* border: 2px solid red; */
  height: 100px;
  width: 60%;
  position: absolute;
  top: 24%;
  left: 20%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#sec6 #box12 #b1 {
  /* border: 2px solid #FD0053; */
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 20px;
}

#p11 {
  /* border: 2px solid red; */
  height: 500px;
  width: 361px;
  position: relative;
  top: 40%;
  left: 10%;
}
.hover11{
  font-size: 20px;
  background-color: rgb(53, 42, 46);
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  transform: rotateX(90deg);
  transition: transform 0.5s linear;
  
}
#p11:hover .hover1{
  transition-duration: 0.5s;
  transform:rotateX(0);
}
#p12:hover .hover2{
  transition-duration: 0.5s;
  transform:rotateX(0);
  transition-timing-function: linear;
}
#p13:hover .hover3{
  transition-duration: 0.5s;
  transform:rotateX(0);
  transition-timing-function: linear;
}
#p14:hover .hover4{
  transition-duration: 0.5s;
  transform:rotateX(0);
  transition-timing-function: linear;
}
#p15:hover .hover5{
  transition-duration: 0.5s;
  transform:rotateX(0);
  transition-timing-function: linear;
}

.hover1{
  border:2px solid black;
  width: 99%;
  height:60px;
  position:absolute;
  bottom:0%;
 
  
  }
.hover2 {
  border: 2px solid black;
  width: 99%;
  height: 60px;
  position: absolute;
  bottom: -25%;
}

.hover3 {
  border: 2px solid black;
  width: 99%;
  height: 60px;
  position: absolute;
  bottom: -25%;
}

.hover4 {
  border: 2px solid black;
  width: 99%;
  height: 60px;
  position: absolute;
  bottom: -10%;
}

.hover5 {
  border: 2px solid black;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: -10%;
}

#p11 #e1 {
  height: 500px;
  width: 361px;
}

#p12 {
  /* border: 2px solid red; */
  height: 200px;
  width: 25%;
  position: absolute;
  top: 40%;
  left: 37%;
}

#p12 #e2 {
  height: 250px;
  width: 100%;
}

#p13 #e3 {
  height: 250px;
  width: 100%;
}

#p14 #e4 {
  height: 220px;
  width: 100%;
}

#p15 #e5 {
  height: 220px;
  width: 100%;
}

#p13 {
  /* border: 2px solid red; */
  height: 200px;
  width: 25%;
  position: absolute;
  top: 40%;
  left: 65%;
}

#p14 {
  /* border: 2px solid red; */
  height: 200px;
  width: 25%;
  position: absolute;
  top: 67%;
  left: 37%;
}

#p15 {
  /* border: 2px solid red; */
  height: 200px;
  width: 25%;
  position: absolute;
  top: 67%;
  left: 65%;
}

#sec6 button {
  /* border: 2px solid black; */
  height: 50px;
  width: 150px;
  background-color: #FD0053;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  position: absolute;
  top: 94%;
  left: 43%;
  border: none;
}

#sec6 button:hover {
  background-color: #2B2024;
  cursor: pointer;
  transition: 2s ease;
}

/* PRICING SECTION */
.pricing-section {
  background-color: #eff1f4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pricing-content {
  max-width: 1300px;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
}

.pricing-header {
  padding-top: 5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-header h4 {
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.pricing-header h1 {
  font-size: 3rem;
}
.pricing-filter {
  margin-bottom: 3rem;
}
.pricing-filter ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
.pricing-filter li {
  background-color: #fff;
  padding: 0.6rem 2.5rem;
  border-radius: 24px;
  border: 1px solid #fd0053;
}

.grid-pricing-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 5rem;
  gap: 3rem;
}

.single-pricing-box {
  position: relative;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transition: background-color 2s, color 3s;
}
.single-pricing-box:hover {
  background-color: #1e1e1e;
  color: #f0f4f8;
}

.p-shape {
  position: absolute;
  top: 0;
  width: 6rem;
}
.price-top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price-top-content h1 {
  font-size: 1.2rem;
  font-weight: 500;
}
.price-top-content .text-1 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fd0053;
}

.price-top-content .text-1 span {
  font-size: 1rem;
  font-weight: normal;
  color: #222;
}

.price-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* subscribe section */
.subs-section {
  background: #2a2a2b;
  width: 100%;
  padding: 4rem 2rem;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subs-content {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.subs-content h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 3rem;
}
.subs-button {
  display: inline-block;
  padding: 0.8rem 2rem;
  background: #fd0053;
  color: white;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s;
}
.subs-button:hover {
  background: #1e1e1e;
}


/* TEAM SECTION */
.team-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.team-shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  z-index: 0;
  pointer-events: none;
}

.team-content {
  max-width: 1300px;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}
.team-header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-header h4 {
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.team-header h1 {
  font-size: 3rem;
}
.team-content-box {
  position: relative;
  background: #f8f8f8;
  padding: 2rem;
  width: 350px;
  height: 300px;
  text-align: center;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: background-color 2s ease;
  margin-bottom: 4rem;
}

.team-content-box:hover {
  background-color: #1e1e1e;
  color: white;
}
.team-content-box:hover p,
.team-content-box:hover h4{
  color: white;
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.team-shape {
  position: absolute;
  pointer-events: none;
  z-index: 0;
}

.team-shape-top-left {
  top: 0;
  left: 0;
  width: 100px;
  z-index: 0;
}

.team-shape-bottom-right {
  bottom: 0;
  right: 0;
  width: 100px;
  z-index: 0;
}

.team-detail {
  position: relative;
  z-index: 1;
}

.team-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #fd0053;
  object-fit: cover;
  margin-bottom: 1rem;
}
.team-name-desig h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1e1e1e;
  margin-bottom: 0.25rem;
}
.team-name-desig p {
  color: #555;
  font-size: 1rem;
  margin-bottom: 0.75rem;
}
.team-social-wrap {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
.team-social-icon {
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.team-social-icon img {
  width: 15px;
  height: 15px;
}


/* BLOG SECTION */
.blog-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.blog-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 0;
  pointer-events: none;
}

.blog-content {
  max-width: 1300px;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}
.blog-header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-header h4 {
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.blog-header h1 {
  font-size: 3rem;
}

.blog-image-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}
.blog-content-wrap {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.blog-image {
  position: relative;
  overflow: hidden;
}
.blog-image img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.blog-image img:hover {
  transform: scale(1.01);
  filter: grayscale(70%);
}

.blog-inside-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #362b2f;
  color: white;
  padding: 1rem;
}

.blog-inside-content ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-inside-content ul a {
  color: white;
  text-decoration: none;
}

.blog-outside-content {
  padding: 1.8rem;
  background-color: #fff;
}

.blog-outside-content h4 {
  color: #fd0053;
  font-weight: 500;
  font-size: 1.2rem;
}
.blog-outside-content h4 {
  color: #fd0053;
  font-weight: 500;
  font-size: 1.2rem;
}
.blog-outside-content h2 {
  font-size: 1.5rem;
}
.flex-btn {
  display: flex;
  padding-bottom: 6rem;
}
.blog-btn {
  background-color: #fd0053;
  padding: 0.8rem 2.3rem;
  border-radius: 50px;
  transition: background-color 0.9s ease;
}
.blog-btn:hover {
  background-color: black;
}
.blog-btn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}


/* FOOTER SECTION */
.footer-section {
  background-color: #2b2024;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 5rem;
}

.footer-content {
  max-width: 1300px;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-col {
  flex: 1 1 400px;
}
.footer-logo {
  width: 100px;
  margin-bottom: 1rem;
}
.social-icon-wrap {
  display: flex;
  gap: 1.5rem;
}
.social-icon {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.social-icon img {
  width: 15px;
  height: 15px;
  filter: invert(1);
}
.social-icon:hover {
  background-color: #fd0053;
  border: 1px solid #fd0053;
}

.footer-col h4 {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 1rem;
}

.footer-col p,
.footer-col li,
.footer-col a {
  font-size: 1.1rem;
  color: #ccc;
  line-height: 1.6;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li {
  margin-bottom: 0.5rem;
}

.footer-col a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s;
}

.footer-col a:hover {
  color: #fd0053;
}

.newsletter-form {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.newsletter-form input[type="email"] {
  padding: 0.75rem 1rem;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none;
  font-size: 1rem;
}

.newsletter-form button {
  padding: 0.75rem 1.2rem;
  background-color: #fd0053;
  color: white;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
  font-weight: 600;
}


